<?xml version="1.0" ?>
<odoo>

    <!-- Modules Tree View -->
    <record model="ir.ui.view" id="module_tree_view">
        <field name="name">SW Knowledge Base - Modules tree</field>
        <field name="model">software_knowledge_base.module</field>
        <field name="arch" type="xml">
            <tree string="Modules">
                <field name="name" />
                <field name="summary" />
                <field name="module_type" />
                <field name="platform_ids" />
            </tree>
        </field>
    </record>

    <!-- Modules Form View -->
    <record model="ir.ui.view" id="module_form_view">
        <field name="name">SW Knowledge Base - Modules form</field>
        <field name="model">software_knowledge_base.module</field>
        <field name="arch" type="xml">
            <form string="Modules">
                <div class="oe_button_box" name="button_box">
                    <button
            name="toggle_active"
            type="object"
            class="oe_stat_button"
            icon="fa-archive"
          >
                        <field
              name="active"
              widget="boolean_button"
              options="{&quot;terminology&quot;: &quot;archive&quot;}"
            />
                    </button>
                </div>

                <header>
                </header>
                <sheet string="Form">
                    <div class="oe_title">
                        <div class="oe_edit_only">
                            <label for="name" />
                        </div>
                        <h1><field name="name" required="1" /></h1>
                    </div>

                    <group col="4">
                        <field
              name="platform_ids"
              widget="many2many_tags"
              string="Tested platforms"
            />
                        <field name="user_id" />
                        <field name="module_type" />
                    </group>

                    <separator string="Summary" />
                    <field name="summary" nolabel="1" />

                    <separator string="Readme" />
                    <field name="readme" nolabel="1" />

                    <separator string="Features" />
                    <field name="features" nolabel="1" />

                    <notebook>
                        <page string="Installation">

                            <separator string="Installations" />
                            <field name="installation_ids" />

                            <separator string="Installation notes" />
                            <field name="installation_notes" />
                        </page>

                        <page string="Known issues">
                            <field name="issues" />
                        </page>
                        <page string="Additional info">
                            <field name="additional_info" />
                        </page>
                        <page string="Tasks">
                            <field name="task_ids" />
                        </page>
                    </notebook>
                </sheet>
                <div class="oe_chatter">
                    <field
            name="message_follower_ids"
            widget="mail_followers"
          />
                    <field name="message_ids" widget="mail_thread" />
                </div>
            </form>
        </field>
    </record>

</odoo>
