<?xml version="1.0" ?>
<odoo>
    <!-- Modules Tree View -->
    <record model="ir.ui.view" id="module_tree_view">
        <field name="name">module.tree.view</field>
        <field name="model">software_knowledge_base.module</field>
        <field name="arch" type="xml">
            <tree string="Modules">
                <field name="name" />
                <field name="summary" optional="show" />
                <field name="website" optional="show" />
                <field name="module_type" optional="show" />
                <field name="platform_ids" optional="hide" />
                <field name="installation_ids" optional="hide" />
                <field
                    name="installation_count"
                    string="Installations"
                    optional="hide"
                />
            </tree>
        </field>
    </record>
    <!-- Modules Form View -->
    <record model="ir.ui.view" id="module_form_view">
        <field name="name">module.form.view</field>
        <field name="model">software_knowledge_base.module</field>
        <field name="arch" type="xml">
            <form string="Modules">
                <div class="oe_button_box" name="button_box">
                </div>
                <header>
                </header>
                <sheet string="Form">
                    <div class="oe_button_box" name="button_box">
                        <button
                            class="oe_stat_button"
                            type="object"
                            name="action_view_installations"
                            icon="fa-server"
                        >
                            <field
                                string="Installations"
                                name="installation_count"
                                widget="statinfo"
                            />
                        </button>
                    </div>
                    <div class="oe_title">
                        <div class="oe_edit_only">
                            <label for="name" />
                        </div>
                        <h1>
                            <field name="name" required="1" />
                        </h1>
                    </div>
                    <group col="4">
                        <field
                            name="platform_ids"
                            widget="many2many_tags"
                            string="Tested platforms"
                        />
                        <field name="user_id" />
                        <field name="module_type" />
                        <field name="author" />
                        <field name="website" widget="url" />
                    </group>
                    <group>
                        <field name="description" />
                        <field name="summary" />
                        <field name="readme" />
                        <field name="features" />
                    </group>
                    <notebook>
                        <page string="Installation">
                            <separator string="Installations" />
                            <field name="installation_ids" />
                            <separator string="Installation notes" />
                            <field name="installation_notes" />
                        </page>
                        <page string="Known issues">
                            <field name="issues" />
                        </page>
                        <page string="Additional info">
                            <field name="additional_info" />
                        </page>
                        <page string="Tasks">
                            <field name="task_ids" />
                        </page>
                    </notebook>
                </sheet>
                <div class="oe_chatter">
                    <field name="message_follower_ids" widget="mail_followers" />
                    <field name="message_ids" widget="mail_thread" />
                </div>
            </form>
        </field>
    </record>
</odoo>
