<?xml version="1.0"?>
<odoo>

	<!-- Servers Tree View -->
	<record model="ir.ui.view" id="server_tree_view">
		<field name="name">SW Knowledge Base - Servers tree</field>
		<field name="model">software_knowledge_base.server</field>
		<field name="arch" type="xml">
			<tree string="Servers">
				<field name="name"/>
				<field name="ip_address"/>
				<field name="operating_system_id"/>
				<field name="installation_ids"/>
				<field name="company_id"/>
				<field name="active"/>
			</tree>
		</field>
	</record>

	<!-- Servers Form View -->
	<record model="ir.ui.view" id="server_form_view">
		<field name="name">SW Knowledge Base - Servers form</field>
		<field name="model">software_knowledge_base.server</field>
		<field name="arch" type="xml">
			<form string="Servers">
				<header>
				</header>
				<sheet string="Form">
                    <div class="oe_button_box" name="button_box">
                        <button name="toggle_active" type="object" class="oe_stat_button" icon="fa-archive">
                            <field name="active" widget="boolean_button" options="{&quot;terminology&quot;: &quot;archive&quot;}"/>
                        </button>
                    </div>

					<div class="oe_title">
						<div class="oe_edit_only">
							<label for="name"/>
						</div>
						<h1><field name="name" required="1"/></h1>
					</div>

                    <group>
                        <group>
                            <field
                                    name="company_id"
                                    options="{'no_open': True, 'no_create': True }"
                            />
                            <field name="user_id"/>
                            <field
                                    name="supplier_id"
                                    options="{'no_open': True, 'no_create': True }"
                            />
                        </group>
                        <group>
                            <field name="ip_address"/>
                            <field name="operating_system_id"/>
                        </group>
                    </group>

					<notebook>
						<page string="Installations">
							<field name="installation_ids"/>
						</page>
						<page string="Technical specifications">
							<field name="specification" widget="bootstrap_markdown"/>
						</page>
						<page string="Additional info">
							<field name="additional_info" widget="bootstrap_markdown"/>
						</page>
							<page string="Notes">
							<field name="note_ids"/>
						</page>

					</notebook>
				</sheet>
				<div class="oe_chatter">
					<field name="message_follower_ids" widget="mail_followers"/>
					<field name="message_ids" widget="mail_thread"/>
				</div>
			</form>
		</field>
	</record>

	<!-- Servers search view -->
	<record model="ir.ui.view" id="server_search_view">
		<field name="name">Servers search</field>
		<field name="model">software_knowledge_base.server</field>
		<field name="arch" type="xml">
			<search string="Search servers">
				<field name="name"/>
				<field name="ip_address"/>
				<field name="operating_system_id"/>

				<group expand="0" string="State">
					<filter string="Active" name="active" domain="[('active', '=', True)]"/>
					<filter string="Inactive" name="invactive" domain="[('active', '=', False)]"/>
				</group>

				<group expand="0" string="Group By...">
					<filter string="Company" context="{'group_by':'company_id'}"/>

                    <filter
                            string="Supplier"
                            name="supplier"
                            context="{'group_by': 'supplier_id'}"
                    />

					<filter string="OS" context="{'group_by':'operating_system'}"/>
				</group>
			</search>
		</field>
	</record>

</odoo>
